<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="#"
        ><img class="foto-banner" src="/assets/CordeiroPlays.png"
      /></a>
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <input
              type="text"
              class="procurar"
              placeholder="Procura por liga"
              (keyup)="pesquisa($event)"
            />
          </li>
          <li class="nav-item">
            <a
              routerLink="login"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="#">Ligas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="carousel">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="/assets/imagem4.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/assets/imagem5.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/assets/imagem6.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</header>
<main>
  <section class="container ligas">
    <div class="row justify-content-center cards">
      <div class="card p-2 m-4 col-md-5" style="max-width: 300px">
        <img
          class="card-img-top"
          src="/assets/liga1.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h1>Liga Professional</h1>
          <p class="card-text">
            Prove seu valor em outros campeonatos e seja contratado por chefes
            de equipe para participar.
          </p>
        </div>
      </div>
      <div class="card p-2 m-4 col-md-5" style="max-width: 300px">
        <img
          class="card-img-top"
          src="/assets/liga2.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h1>Liga Pro Mundial</h1>
          <p class="card-text">
            Aqui você irá disputar um mundial de corridas 100%. (Permitido
            assistencias de pilotagem)
          </p>
        </div>
      </div>
      <div class="card p-2 m-4 col-md-5" style="max-width: 300px">
        <img
          class="card-img-top"
          src="/assets/liga3.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h1>Liga HardCore</h1>
          <p class="card-text">
            Os melhores pilotos se encotram aqui!! Campeonato Mundial 100% com
            todas assistencias bloqueadas!!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="plataformas-mobile">
    <h1 class="titulo-plataformas">Plataformas dos Campeonatos</h1>
    <div class="plataformas">
      <img loading="lazy" src="/assets/logo-steam 1.png" />
      <img loading="lazy" src="/assets/ps5 1.png" />
      <img loading="lazy" src="/assets/xbox 1.png" />
      <img loading="lazy" src="/assets/f1-logo.png" />
    </div>
  </section>
  <div class="noticias-api">
    <h2 class="titulo-noticias">Notícias F1</h2>
    <section class="container">
      <div class="row justify-content-center noticias">
        <div
          *ngFor="let noticias of listaNoticias"
          class="card p-2 m-4 col-md-5"
          style="max-width: 300px"
        >
          <img loading="lazy" [src]="noticias.imagem" />
          <div class="card-body">
            <h1>{{ noticias.titulo }}</h1>
            <p class="card-text">
              {{ noticias.descricao }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<footer>
  <div class="link-footer">
    <ul class="coluna1">
      <a href="#">Prêmios</a>
      <a href="#">Contato</a>
      <a href="#">Fórum</a>
    </ul>
    <ul class="coluna2">
      <a href="#">Dúvidas</a>
      <a href="#">Regras</a>
      <a href="#">Prêmios</a>
    </ul>
    <div class="foto-footer">
      <img src="/assets/imagem2.png" />
      <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <label for="email"> Cadastrar: </label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Digite aqui sem email"
          [(ngModel)]="userModel.email"
        />
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
  <div>[listaNoticias]="Noticias[] | filterByDescription: filter"</div>
</footer>
